bg-description {
  background: #E3E3E3 !important;
  color: #999999 !important;
}
bg-danger {
  background: $color-text-danger !important;
  color: white !important;
}
text-h4 {
  font-size:32px!important;
  font-weight: bold !important;
  color:#222!important;
  line-height:1.5 !important;
}
text-bold {
  font-weight: bold !important;
}
text-danger {
  color: $color-status-error !important;
}
text-danger-bold {
  color: $color-status-error !important;
  font-weight: bold;
}
text-primary {
  color: $color-brand-color !important;
}
text-primary-bold {
  color: $color-brand-color !important;
  font-weight: bold;
}
text-bold {
  font-weight: bold;
  color: #101010;
}
.text-bold {
  font-weight: bold;
}
.bg-description {
  background: #E3E3E3 !important;
  color: #999999 !important;
}
.bg-danger {
  background: $color-text-danger !important;
  color: white !important;
}
.text-bold {
  font-weight: bold !important;
}
.text-danger {
  color: $color-status-error !important;
}
.text-danger-bold {
  color: $color-status-error !important;
  font-weight: bold;
}
.text-primary {
  color: $color-brand-color !important;
}
.text-primary-bold {
  color: $color-brand-color !important;
  font-weight: bold;
}
.text-bold {
  font-weight: bold;
  color: #101010;
}
.text-pass {
  color: #00D26E !important;
}
.text-un-pass {
  color: $color-status-error !important;
}
.text-pass-bold {
  color: #00D26E !important;
  font-weight: bold !important;
}
.text-un-pass-bold {
  color: $color-status-error !important;
  font-weight: bold !important;
}

.text-score {
  color: #FFB200;
  font-weight: bold;
}

.primary-color {
  color: $color-brand-color;
}

.text-two-line {
  /* autoprefixer: ignore next */
  -webkit-box-orient: VERTICAL;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  word-break: break-all;
}
.bottom-line {
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transform: scaleY(0.5);
    background: $color-line;
  }
}
