// 基本颜色
// -----------------------
          
$color-brand-color:       var(--brand) !default; // 品牌色、链接色、功能色

$color-primary:           #00D26E !default; // 主色
$color-bg-content:        #F9F9F9 !default; // 只做背景使用
$color-bg-content-s:      #FFFFFF !default; // 只做背景使用/次级背景
$color-bg-element:        #FFFFFF !default; // 只做元素背景
$color-bg-element-s:      #F9F9F9 !default; // 只做元素背景/搭配$color-bg-content-s使用
$color-bg-disable:        #F5F5F5 !default; // 只做禁用元素的背景
$color-bg-watermark:      #999999 !default; // 水印

$color-line:              #E3E3E3 !default; // 线条颜色
$color-shadow:            #EEEEEE !default; // 阴影颜色

$color-text-navbar:       #222222 !default; // 导航栏颜色
$color-text-primary:      #222222 !default; // 主文案文字颜色
$color-text-primary-s:    #666666 !default; // 副标题/正文摘要
$color-text-description:  #999999 !default; // 辅助性描述文案
$color-text-description-s:#B2B2B2 !default; // 次要辅助性描述文案/时间
$color-text-disable:      #B2B2B2 !default; // 预填/禁用文本
$color-text-disable-s:    #999999 !default; // 只能搭配$color-bg-disable背景使用
$color-text-in-brand:     #FFFFFF !default; // 在主题色里面的文字

$color-text-link:         #225599 !default; // 链接色
$color-text-activity:     #FFB200 !default; // 积极/活动奖励/得分
$color-text-danger:       #ED4622 !default; // 红点/错误/警告

$color-status-success:    #00D26E !default; // 通过
$color-status-primary:    #66B3FF !default; // 通常/成功
$color-status-error:      #ED4622 !default; // 驳回/失败
$color-status-warning:    #FFB200 !default; // 等待中

// 扩展颜色，不需要拷贝这部分
// -----------------------

$color-bg-album:#01A0FF;
$color-bg-word:#4B4DB6;
$color-bg-excel:#139E2A;   //excel颜色
$color-bg-play: #FF7E51;
$color-bg-pdf:#FFBB33;
$color-bg-ppt:#F15B5B;
$color-bg-enclosure:#00B4BC


// -----------------------

// 黑色主题

// $color-bg-content:        #000000 !default; // 只做背景使用
// $color-bg-element:        #2f2f2f !default; // 只做元素背景
// $color-bg-watermark:      #999999 !default; // 水印

// $color-line:              #1b1b1b !default; // 线条颜色

// $color-text-navbar:       #dfdfdf !default; // 导航栏颜色
// $color-text-primary:      #dfdfdf !default; // 主文案文字颜色
// $color-text-primary-s:    #01a0ff !default; // 副标题/正文摘要
// $color-text-description:  #87939D !default; // 辅助性描述文案
// $color-text-description-s:#AFB8BF !default; // 次要辅助性描述文案/时间
// $color-text-disable:      #D7DBDF !default; // 预填/禁用文本

// $color-text-link:         #01A0FF !default; // 链接色
// $color-text-activity:     #F29416 !default; // 积极/活动奖励/得分
// $color-text-danger:       #ED4622 !default; // 红点/错误/警告
