@font-face {
	font-family: LXGW;
	// src: url('https://static.netdun.net/sc/Fomalhaut/霞鹜文楷.woff2');
	src: url('https://7965-yel-bookkeeping-6gjr4iqo76b6d62b-1317381139.tcb.qcloud.la/%E6%88%91%E7%9A%84%E9%99%84%E4%BB%B6/%E9%9C%9E%E9%B9%9C%E6%96%87%E6%A5%B7.woff2?sign=89c5479fa7fc86097b732e92539eafe6&t=1685689943');
	font-display: swap;
}

view {
	font-family: LXGW;
}

@import "./font/iconfont.scss",
	// mixin
	"./base/reset.scss",
	"./base/setting.scss", "./base/mixin.scss",
	"./base/defaults.scss";
