@font-face {
	font-family: LXGW;
	src: url(https://static.netdun.net/sc/Fomalhaut/霞鹜文楷.woff2);
	font-display: swap;
}

view {
	font-family: LXGW;
}

@import "./font/iconfont.scss",
	// mixin
	"./base/reset.scss",
	"./base/setting.scss", "./base/mixin.scss", "./base/animation.scss",
	"./base/defaults.scss";
